<%- include("partials/header") %>
<div style="margin:0 0 0 0;background:orange">
<h1 style="margin: 0 auto; text-align:center;background:black; height: 33px; color:orange; font-size:28px;text-shadow:3px 3px 3px red">
	THE FESTEMBER'S ELITE  <span class="username"><%= user.username %></span> (create your event here)
</h1>
<form action="/event/<%= user._id %>" method="POST" style="width:220px;text-align:center;margin: 20 auto; border:1px solid black;" >
	<input type="text" name="name" placeholder="event name" style="width:200px;height:30px;margin: 10px 0 10 px 0">
	<input type="text" name="date" placeholder="yyyy-mm-dd" style="width:200px ; height:30px;margin: 10px 0 10 px 0">
	<input type="text" name="content"class="invite" placeholder="content of invite" style="width:200px;height:80px;margin: 10px 0 10 px 0">
	<input type="text" class="invite" name="style" placeholder="font of invite" style="width:200px ; height:30px;margin: 10px 0 10 px 0">
	<input type="text" class="invite" name="dead" placeholder="deadline for accepting" style="width:200px ; height:30px;margin: 10px 0 10 px 0">
  <input type="radio" class="radio" id="male" name="gender" value="https://i.pinimg.com/originals/6a/e4/6a/6ae46aeb6b1123697e27bebb8fd7e9de.jpg">
  <label for="male">Birthday Party</label><br>
  <input type="radio" id="female" class="radio" name="gender" value="https://www.irishtimes.com/polopoly_fs/1.3444208.1522312158!/image/image.jpg_gen/derivatives/box_620_330/image.jpg">
  <label for="female">Booze Party</label><br>
  <input type="radio" id="other" name="gender" class="radio" value="https://i.pinimg.com/originals/ef/af/34/efaf348c51f142c5462e8c44c6593d32.jpg">
  <label for="other">Wedding</label>
	<input type="radio" id="other" name="gender" class="radio" value="https://www.contrapositionmagazine.com/wp-content/uploads/2018/12/formal-invitation-template-blank.jpg">
  <label for="other">Funeral</label>
	<h1 class="userss">
		  Invite 
	</h1>
	<input list="browsers" name="in1">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in2">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in3">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in4">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in5">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in6">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in7">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in8">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in9">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<input list="browsers" name="in10">
<datalist id="browsers">
   <% users.forEach(function(u){%> 
	<option value="<%= u.username%>">
 <% })%>
</datalist>
	<button style="width:200px ;height:30px;border: none; background:rgb(115, 194, 251);margin: 10px 0 10 px 0">
		create
	</button>
</form>
</div> 
<script type="text/javascript" src="ejska.js"></script>
<%- include("partials/footer") %>