<html>
	<head>
	<title>Festember</title>
	<link rel="shortcut icon" href="https://festember.com/19/cms/templates/f19landing/img/thumbnail.png">
<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body style="margin:0 0 0 0;background-image:url('https://images.pond5.com/shiny-disco-party-loop-background-footage-042138182_iconl.jpeg');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
<h1 style="margin: 0 auto; text-align:center;background:black; height: 50px; color:white; font-size:46px;text-shadow:4px 4px 4px rgb(0, 128, 255)">
	THE FESTEMBER'S ELITE : 
</h1>
<div style="display:inline;float:left;">
	<div class="eventh" style="display:inline;float:left;">
	<h1 class="eventd">
		Events Dashboard
	</h1>
		<div class="event">
	
		<% event.forEach(function(e){ %>
   <div>
	   <hr>
	   <h1>
		  <%= e.Name %>
	   </h1>
	   <h2>
		  <%= e.Date %>
	   </h2>
	</div>
			   <% }) %>
	</div>	
	
</div>	
	<div class="eventh" style="display:inline;float:left;">
	<h1 class="invtd" >
		Invites Dashboard
	</h1>
		<div class="invt">
	<% inv.forEach(function(e){ %>
	<div class="invited">
	   <h1>
		  <%= e.usern %>
	   </h1>
		<h1>
			<%= e.event %>
		</h1>
		<h2>
			<%= e.Date %>
		</h2>
	   <a href="/invites/<%= e._id %>"><button style="height:30px;border: none; background:rgb(115, 194, 251);margin:10 0 10 0">
		    View
		   </button>
		</a>
	</div>
			   <% }) %>
	</div>
</div>	
	<div class="eventh" style="display:inline;float:left;">
	<h1 class="intd" >
		New Invites Dashboard
	</h1>
		<div class="int">
	<% i.forEach(function(e){ %>
	<div class="invite">
	   <h1>
		  <%= e.usern %>
	   </h1>
		<h1>
			<%= e.event %>
		</h1>
		<h2>
			<%= e.Date %>
		</h2>
	   <a href="/invites/new/<%= e._id %>"><button style="height:30px;border: none; background:rgb(115, 194, 251);margin:10 0 10 0">
		    View
		   </button>
		</a>
	</div>
			   <% }) %>
	</div>
	<div style="position:absolute;top:50px;right:0px;padding:20 20 20 20;background:white;color:black">
		<a href="/home/notification"><h1>
			Notification
			</h1></a>
	</div>
	</div>
		</div>
	
<div style="margin: 20 auto; text-align:center;;">
<a href="/event/<%= user._id %>"><button style="width:200px ;height:30px;border: none; background:rgb(115, 194, 251);margin:10 0 10 0">
		Create Event
	</button></a>
</div>

<%- include("partials/footer") %>