<%- include("partials/header") %>
<h1 style="color:white;margin:10 auto;text-align:center;">
		Invitation From <%= i.usern %>
	</h1>
<div class="inviten" style="
	margin: 100 auto;
	text-align: center;
	width: 500px;
	height: 550px;
	border: 2px solid purple;
	background: pink;">
	
 	<img src="<%= i.url %>" style="width:600px;height:600px">
	<img src="<%= i.image %>" style="position:relative;left:<%= i.imgx%>px;top:-<%= i.imgy%>px;width:200px;height:200px">
	<h1 style="position:relative;left:200;top:-500;width: 300px;font:<%= i.style%>">
		<%= i.content%>
	</h1>
	<a href="/home">
	<button>
		Go back!!
		</button>
	</a>
 </div>
<%- include("partials/footer") %>